.main {
    background-color: #292929;
    font-family: Arial, sans-serif;
    color: aliceblue;
    border: #c5000045;
    border-style: solid;
    
}

.tp {
    font-family: Arial, sans-serif;
    color: aliceblue;
    font-size: 155%;    
}

.start-letiral {

    color: #c50000;
}